<% if @username == @player1_name %>
  <p>Player1 name <%= @player1_name %></p>
  <p>print player1 board on left print player2 board on right</p>
<%else %>
  <p>Player2 name <%= @player2_name %></p>
  <p>print player2 board on left print player1 board on right</p>
<% end %>
