Player 1 has fired successfully
<%= @board_display1 %>
<%= @opponent_display1 %>
<% if @turn == @username %>
  <form action="/game/new/player1" method="post">
    <input type='text' name='coords'>
    <input type="submit" value="Fire">
  </form>
<% end %>
