Player 2 has fired successfully
<p>print player2 board on left print player1 board on right</p>

<% if @turn == @username %>
  <form action="/game/new/player2" method="post">
    <input type='text' name='coords'>
    <input type="submit" value="Fire">
  </form>
<% end %>
