<nav class="navbar navbar-inverse" role='navigation'>
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img id="icon" alt="Brand" src="/images/icon.png">
      </a>
    </div>
      <button type="button" class="btn btn-default navbar-btn">My Profile</button>
      <button type="button" class="btn btn-default navbar-btn">New Game</button>
      <button type="button" class="btn btn-default navbar-btn pull-right">signout</button>
  </div>
</nav>
