
<div id="dummy"></div>

<script src="https://code.jquery.com/jquery-2.1.4.js"></script>


<script type="text/javascript">

function startRefresh() {
    setTimeout(startRefresh,1000);
    $.get('/users/ready', function(data) {
        $('#dummy').html(data);
    });
}

$(function() {
    startRefresh();
});



</script>
