<form action="/fire">
  Select a position to FIRE at your opponent e.g. 1,1:
  <input type="text" name="coords" required>
  <input type="submit" value="fire">
</form>

<%= @board_display %>
<%= @opponent_display %>
