<div id='board' style='width: 500px; height: 500px; align: center'>
  <% (1..100).each do |x| y = "n#{x}" %>
      <div id=<%= y %> style = 'width: 48px; height: 48px; border: solid 1px black; float: left'>
      </div>
  <% end %>
</div>
